# Ignore any backup files.
*~
*.bak

# Ignore kate swap files
*.kate-swp

# Ignore any build directories
_bld

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Junk files
*.tar
*.gz
*.xz
*.bz2
*_bld
avrdude*
avr-libc*
binutils*
gcc*
gdb*
simulavr*
